/* Breadcrumb */
.breadcrumb {
  padding: 20px 60px;
  font-size: 13px;
  color: #777;
}

/* Layout */
.category-layout {
  display: flex;
  padding: 0 60px;
  gap: 40px;
}

/* Filters */
.filters {
  width: 220px;
}

.filter-item {
  padding: 18px 0;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  cursor: pointer;
}

/* Content */
.category-content {
  flex: 1;
}
.product-card {
  position: relative;   /* 🔥 REQUIRED */
  background: white;
}


/* Header */
.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.view-icons span {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.title {
  text-align: center;
}

.title h2 {
  margin: 0;
  font-size: 22px;
}

.title p {
  margin: 4px 0 0;
  color: #777;
  font-size: 14px;
}

.sort {
  padding: 10px 14px;
  border: 1px solid #ddd;
  background: white;
}

/* Products */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* Product Card */
.product-card {
  position: relative;
}

.product-card img {
  width: 100%;
}

/* Discount */
.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 6px 8px;
  font-size: 12px;
}

/* Wishlist */
.wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Price */
.price {
  font-size: 14px;
}

.price .old {
  text-decoration: line-through;
  color: #999;
  margin-left: 6px;
}

.sale {
  color: red;
  margin-left: 6px;
}
/* FILTER DROPDOWNS */

.filter-block {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filter-header h4 {
  font-size: 14px;
  font-weight: 600;
}

.arrow {
  font-size: 14px;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.filter-options {
  margin-top: 12px;
}

.filter-option {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #444;
  margin-bottom: 8px;
  cursor: pointer;
}

.filter-option input {
  accent-color: #d4141e;
}

.filter-option .count {
  margin-left: auto;
  color: #999;
  font-size: 13px;
}
.filter-box {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.filter-box summary {
  cursor: pointer;
  font-weight: 600;
  list-style: none;
}

.filter-content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #666;
}

.rating {
  font-size: 14px;
  color: #f57c00;
  margin: 6px 0;
}

.tag {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
}

.sizes {
  display: flex;
  gap: 6px;
  font-size: 12px;
  color: gray;
}


