.category-section{
    display:flex;
    gap:20px;
    padding:60px;
    justify-content:center;
}

.category-card{
    flex:1;
    height:250px;
    width: 230px;
    display:flex;
    align-items:flex-end;
    padding:20px;
    color:white;
    font-size:1.8 rem;
    cursor:pointer;
    transition:transform 0.3s ease;
}
.category-card:hover{
    transform:scale(1.05);
}
.men {
  background: url("men.jpeg");
  background-size: cover;
  background-position: center;
}

.women {
  background: url("women1.jpg");
  background-size: cover;
  background-position: center;
}

.kids {
  background: url("kids.webp");
  background-size: cover;
  background-position: center;
}