.categories{
    display:flex;
    gap:20px;
    padding: 40px;
}
.category-card{
    flex:1;
    border: #eee;
    height:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:20 px;
}