.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding : 16px 40px;
    border-bottom: 1px solid#eee;
}

.navlinks{
    display:flex;
    gap:24px;
    list-style: none;
}
.nav-icons{
    margin-left:16px;
    cursor: pointer;
}